@using BlazorWeather.Services
@inject OpenWeatherService WeatherService;
@inject IJSRuntime JsInterop;


<div class="col body @BgCss">
    <div class="search-row">
        <input class="search" 
        type="search" 
        @bind-value=@SearchValue 
        @bind-value:event="oninput" 
        @onchange=@GetWeatherByName
        placeholder="Search"></input>
        <div class="geo" @onclick=@GetWeatherByCoords>
            <img src="geo-alt.svg" alt="Use location" />
        </div>
    </div>


    <div class="row pt-2">
        <div class="city">
            @if (Weather == null)
            {
                <div>Enter a city name</div>
            }
            else
            {
                if(Weather.Cod == 200)
                {
                    <div>@Weather.Name, @Weather.Sys.Country</div>
                }
                else
                {
                    <div>City not found.</div>
                }

            }
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="icon">
            <img src=@IconSrc alt="Weather"/>
        </div>
        <div class="weather">
            @{
                var temp = Weather != null ? Weather.Main.Temp.ToString("F0") : "0" ;
                var cond = Weather != null ? Weather.Weather[0].Main : "Clear" ;

                   
                                            <div class="temp">@temp°C</div>
                                            <div class="condition">@cond</div>

                        
            }
        </div>

        <div class="date-row">
            <div class="date">
                @DateTime.Now.ToString("dd. MMMM yyyy HH:mm")
            </div>
        </div>

    </div>
        

</div>

@code {
    private string SearchValue { get; set; } = "";
    public WeatherApiResponse Weather { get; set; } = null;
    private string BgCss = "Clear";
    private string IconSrc { get; set; }

    protected override async Task OnInitializedAsync()
    {

        await GetWeatherByCoords();
    }

    private async Task GetWeatherByName()
    {
        if (!string.IsNullOrWhiteSpace(SearchValue))
        {
            var weather = await WeatherService.GetWeatherByName(SearchValue);
            SetCurrentWeather(weather);
        }
    }

    private async Task GetWeatherByCoords()
    {
        var coords = await GetLocation();
        Console.WriteLine($"{coords.Lat} {coords.Lon}");
        var weather = await WeatherService.GetWeatherByCoords(coords.Lat.ToString(), coords.Lon.ToString());
        SetCurrentWeather(weather);
    }

    private void SetCurrentWeather(WeatherApiResponse weather)
    {        
        if (weather.Cod == 200)
        {
            Weather = weather;
            IconSrc = $"http://openweathermap.org/img/wn/{weather.Weather[0].Icon}@2x.png";
            BgCss = CssClass(weather.Weather[0].Main, weather.Main.Temp);
        }

        SearchValue = string.Empty;
    }

    private string CssClass(string cond, double temp)
    {
        switch (cond, temp)
        {
            case ("Clear", <=25.0):
                return "clear";
            case ("Clear", >25.0):
                return "hot-sun";
            case ("Clouds", >-70.0):
                return "clouds";
            case ("Rain" or "Snow", >-70.0):
                return "rain";
            default:
                return "clear";
        }
    }

    private async Task<Coord> GetLocation()
    {
        var coords = await JsInterop.InvokeAsync<Coord>("getloc");
        return coords;
    }
}
